@model RelatorioModel

@{
    ViewBag.Title = "Jogos Disponiveis";
}
@if (TempData["Mensagem"] == null)
{
    
    <h2>Jogos Disponiveis</h2>
    <div style="text-align: center; padding-top:initial">
        <a href="~/Jogo/Manter/">Cadastrar Novo Jogo</a>
    </div>
    
    <table class="table table-striped table-bordered table-hover" align="center" border="0">
        <thread>
            <tr>
                <td>Nome</td>
                <td>Categoria</td>
                <td>Preço</td>
                <td></td>
                <td></td>
            </tr>
        </thread>

        <tbody>
            @foreach (var jogo in @Model.Jogos)
            {
                <tr>
                    <td>@jogo.Nome</td>
                    <td>@jogo.Categoria</td>
                    <td>@jogo.Preco.ToString("c")</td>
                    <td>
                        <a href="~/Jogo/DetalheJogo/@jogo.Id">Detalhes</a>
                    </td>
                    <td>
                        <a href="~/Jogo/Manter/@jogo.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ul>
        <li>
            <a colspan="3">Quantidade Total de Jogos: @Model.QuantidadeTotal</a>
        </li>
        <li>
            <a colspan="3">Média de Preço por Jogo: @Model.ValorMedioJogos</a>
        </li>
        <li>
            <a colspan="3">Jogo Mais Caro: @Model.JogoMaisCaro</a>
        </li>
        <li>
            <a colspan="3">Jogo Mais Barato: @Model.JogoMaisBarato</a>
        </li>
    </ul>
}
else
{
    <h2 style="text-align:center">@TempData["Mensagem"]</h2>
}