@model Locadora.Web.MVC.Models.RelatorioModel

@{
    ViewBag.Title = "Jogos Disponiveis";
}
@if (TempData["Mensagem"] == null)
{
    <div class="page-header text-center">
        <h2>Jogos Disponiveis</h2>
    </div>

    <div style="text-align:center; padding:2%;">
        <a class="btn btn-primary" href="~/Jogo/Manter/">Cadastrar Novo Jogo</a>
    </div>

    <table class="table table-striped table-bordered table-hover" align="center" border="0">
        <thread>
            <tr>
                <td class="text-center" style="width: 40%">Nome</td>
                <td class="text-center" style="width: 30%">Categoria</td>
                <td class="text-center" style="width: 20%">Selo</td>
                <td class="text-center" style="width: 10%"></td>
                <td class="text-center" style="width: 10%"></td>
            </tr>
        </thread>

        <tbody>
            @foreach (var jogo in @Model.Jogos)
            {
                <tr>
                    <td class="text-center">@jogo.Nome</td>
                    <td class="text-center">@jogo.Categoria</td>
                    <td class="text-center">@Html.Partial("~/Views/Shared/_SeloJogo.cshtml", @jogo.Selo)</td>
                    <td class="text-center"><a class="btn btn-primary" href="~/Jogo/DetalheJogo/@jogo.Id">Detalhes</a></td>
                    <td class="text-center"><a class="btn btn-primary" href="~/Jogo/Manter/@jogo.Id">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <table class="table table-striped table-bordered table-hover" align="center" border="0">
            <tr>
                <td><span class="text-center">Quantidade Total de Jogos: @Model.QuantidadeTotal</span></td>
            </tr>
        </table>
    </div>

    }
    else
    {
    <h2 class="text-center">@TempData["Mensagem"]</h2>
    }