@model RelatorioModel

@{
    ViewBag.Title = "Jogos Disponiveis";
}

<h2>Jogos Disponiveis</h2>

<table class="table">
    <thread>
        <tr>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Preço</td>
        </tr>
    </thread>

    <tbody>
        @foreach (var jogo in Model.Jogos)
        {
            <tr>
                <td>@jogo.Nome</td>
                <td>@jogo.Categoria</td>
                <td>@jogo.Preco.ToString("c")</td>
                @*<td>@Html.ActionLink("Detalhes", "DetalheJogo/"+jogo.Id, "Jogo")</td>*@
                <td>@Html.ActionLink("Detalhes", "DetalheJogo/"+ new { id = jogo.Id }, "Jogo")</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Quantidade Total: @Model.QuantidadeTotal</td>
        </tr>
        <tr>
            <td>Média de Preço por Jogo: @Model.ValorMedioJogos</td>
        </tr>
        <tr>
            <td>Jogo Mais Caro: @Model.JogoMaisCaro</td>
        </tr>
        <tr>
            <td>Jogo Mais Barato: @Model.JogoMaisBarato</td>
        </tr>
    </tfoot>
    
</table>